In [26]:
#getting necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
%matplotlib inline

In [27]:
#stackoverflow 2019 data
survey_2019 = pd.read_csv('./survey_results_public_2019.csv')
survey_2019['Year'] = 2019
survey_2019.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,Year
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,2019
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult,2019
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,2019
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy,2019

In [28]:
#stackoverflow 2018 data
survey_2018 = pd.read_csv('./survey_results_public_2018.csv')
survey_2018['Year'] = 2018
survey_2018.head()

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy,Year
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy,2018
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,2018
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy,2018
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,2018

In [29]:
#concating both years to work on one single dataframe, taking only survey questions that were asked both years
df = pd.concat([survey_2019[survey_2019.columns & survey_2018.columns],
survey_2018[survey_2019.columns & survey_2018.columns]])
print(df.columns)
print(df.shape)

Index(['Respondent', 'OpenSource', 'Employment', 'Country', 'Student',
       'UndergradMajor', 'DevType', 'CurrencySymbol', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'Age', 'Gender', 'Dependents', 'Year'],
      dtype='object')
(187738, 18)

In [30]:
#missing analysis
#missing rows, users that did not participate enough will be removed
#18 columns, 16 of them are optional
df['missing_row_rate'] = (18 - df.apply(lambda x: x.count(), axis=1))/16
df.sort_values(by=['missing_row_rate'], ascending = 0)

,Respondent,OpenSource,Employment,Country,Student,UndergradMajor,DevType,CurrencySymbol,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,Age,Gender,Dependents,Year,missing_row_rate
88789,73408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88595,42460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88458,22994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88502,29513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88403,14848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88847,83648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88790,73472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88666,52784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88389,12779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
88610,44453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,1.0000
97821,83010,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
97054,68753,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
97807,82725,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
96183,52565,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
93922,8882,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
93528,1017,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
96180,52556,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
96195,52822,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
97063,68886,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
93914,8701,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
97813,82826,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
97811,82791,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
93926,8985,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
93534,1154,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
94440,18365,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
95085,31381,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
97049,68648,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
93499,429,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
97102,69780,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
96123,51435,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,0.9375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47988,68047,No,Employed full-time,United States,No,"Computer science, computer engineering, or sof...",Back-end developer,USD,C;C++;C#;Python;SQL;Bash/Shell,C;C++;C#;Python;SQL,"SQL Server;Microsoft Azure (Tables, CosmosDB, ...","SQL Server;Microsoft Azure (Tables, CosmosDB, ...",Linux;Raspberry Pi;Windows Desktop or Server,Windows Desktop or Server,25 - 34 years old,Male,Yes,2018,0.0000
47987,68046,No,Employed full-time,Romania,No,"Another engineering discipline (ex. civil, ele...",Back-end developer,RON,JavaScript;PHP;SQL;HTML;CSS,JavaScript;PHP;Python;Ruby;SQL;HTML;CSS,MySQL;PostgreSQL;MariaDB,MongoDB;Redis;SQL Server;MySQL;PostgreSQL;Mari...,Heroku,Drupal;Heroku,25 - 34 years old,Male,No,2018,0.0000
49808,50134,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,"Yes, part-time","A social science (ex. anthropology, psychology...","Designer;Developer, front-end;Student",USD,C++;HTML/CSS;PHP,C++;HTML/CSS;Java;JavaScript,MySQL,MongoDB,Arduino;Linux;WordPress,Arduino;Linux;Raspberry Pi,26,"Non-binary, genderqueer, or gender non-conforming",No,2019,0.0000
47985,68044,No,Employed full-time,United States,"Yes, part-time","Computer science, computer engineering, or sof...",Desktop or enterprise applications developer;S...,USD,C++;C#;JavaScript;Lua;Python;SQL;TypeScript;HT...,C#;JavaScript;Lua;Python;Rust;SQL;TypeScript;H...,MongoDB;SQL Server,"SQL Server;Microsoft Azure (Tables, CosmosDB, ...",Windows Desktop or Server,Azure;ESP8266;Raspberry Pi;Windows Desktop or ...,25 - 34 years old,Male,Yes,2018,0.0000
29553,29729,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Computer science, computer engineering, or sof...","Developer, full-stack",CAD,C#;HTML/CSS;JavaScript;SQL,C#;HTML/CSS;JavaScript;SQL,MongoDB;Microsoft SQL Server;MySQL;Oracle,Elasticsearch;MongoDB;Microsoft SQL Server;Oracle,Docker;Windows,Android;AWS;Docker;Google Cloud Platform;Micro...,39,Man,Yes,2019,0.0000
48010,68079,Yes,Employed full-time,United States,No,"Another engineering discipline (ex. civil, ele...",Back-end developer;Data or business analyst;Da...,USD,Erlang;JavaScript;Python;Rust;TypeScript;Kotli...,Erlang;Go;JavaScript;Python;Rust;Scala;SQL;Swi...,MongoDB,Cassandra;MongoDB;Redis;PostgreSQL;SQLite,AWS,Amazon Echo;AWS,25 - 34 years old,Male,No,2018,0.0000
1266,1777,Yes,Employed full-time,France,No,"Computer science, computer engineering, or sof...",Back-end developer;Front-end developer;Full-st...,EUR,C;JavaScript;Python;HTML;CSS;Bash/Shell,C;Clojure;JavaScript;Python;Rust;HTML;CSS,PostgreSQL,Cassandra;PostgreSQL;Amazon DynamoDB,Linux,Linux,25 - 34 years old,Male,Yes,2018,0.0000
1267,1778,No,Employed full-time,Greece,No,"Computer science, computer engineering, or sof...",Full-stack developer,EUR,C#;Java;JavaScript;PHP;SQL;HTML;CSS,C#;JavaScript;SQL;HTML;CSS,SQL Server;MySQL;MariaDB,"SQL Server;PostgreSQL;Microsoft Azure (Tables,...",Azure;Windows Desktop or Server;Windows Phone;...,Azure;Windows Desktop or Server;Windows Phone,25 - 34 years old,Male,No,2018,0.0000
1268,1779,No,Employed full-time,United States,No,"A natural science (ex. biology, chemistry, phy...",Back-end developer;Full-stack developer,USD,CoffeeScript;JavaScript;Ruby;SQL;HTML;CSS;Bash...,CoffeeScript;JavaScript;Python;Ruby;SQL;HTML;C...,Redis;MySQL;PostgreSQL;MariaDB;Memcached;Elast...,Redis;PostgreSQL;Elasticsearch,AWS;Heroku,AWS,35 - 44 years old,Female;Transgender,No,2018,0.0000
49807,50133,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,"Yes, full-time","Computer science, computer engineering, or sof...","Developer, full-stack;DevOps specialist",USD,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...,Go;JavaScript;Python;Ruby;TypeScript,Couchbase;PostgreSQL,Couchbase;Elasticsearch;PostgreSQL,Heroku;IBM Cloud or Watson;Linux;Slack,AWS;Docker;Heroku;IBM Cloud or Watson;Kubernet...,23,Man,No,2019,0.0000
47978,68034,No,Employed part-time,Denmark,No,Web development or web design,Back-end developer;Front-end developer,DKK,JavaScript;PHP;SQL;HTML;CSS,JavaScript;PHP;SQL;Swift;HTML;CSS;Bash/Shell,MySQL,MySQL,WordPress,WordPress,25 - 34 years old,Male,No,2018,0.0000
47977,68033,Yes,Employed full-time,United States,No,"A health science (ex. nursing, pharmacy, radio...",Back-end developer;Designer;Front-end develope...,USD,JavaScript;PHP;SQL;HTML;CSS,JavaScript;PHP;SQL;HTML;CSS,MySQL,MongoDB;MySQL,Android;Drupal;iOS,Android;Drupal;iOS,25 - 34 years old,Male,No,2018,0.0000
29552,29728,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Italy,No,"Computer science, computer engineering, or sof...","Developer, back-end;Developer, front-end;Devel...",EUR,HTML/CSS;JavaScript;Ruby;SQL,Go;JavaScript;Ruby;SQL,PostgreSQL;Redis,PostgreSQL;Redis,AWS;Docker;Kubernetes;MacOS,AWS;Docker;Kubernetes;MacOS,31,Woman,No,2019,0.0000
47992,68051,No,Employed full-time,United States,"Yes, part-time","Computer science, computer engineering, or sof...",Back-end developer;Front-end developer;Full-st...,USD,C;C#;CoffeeScript;JavaScript;Python;R;Ruby;Rus...,Assembly;C;C++;Clojure;Go;Haskell;JavaScript;J...,MongoDB;Redis;SQL Server;MySQL;PostgreSQL;Amaz...,Cassandra,AWS;Heroku;iOS,Android;Arduino;AWS;Heroku;iOS;Linux;Mac OS;Ra...,25 - 34 years old,Male,No,2018,0.0000
47993,68052,No,Employed full-time,Czech Republic,No,"Computer science, computer engineering, or sof...",Designer;Desktop or enterprise applications de...,CZK,Groovy;Java;JavaScript;SQL,Java;Kotlin,MySQL;PostgreSQL;Oracle,MySQL;Oracle,Linux,Linux,35 - 44 years old,Male,No,2018,0.0000
1263,1771,No,Employed full-time,Australia,No,"Information systems, information technology, o...",Back-end developer;Desktop or enterprise appli...,AUD,C#;SQL;HTML;CSS,C#;SQL;HTML,SQL Server;MySQL,SQL Server,Windows Desktop or Server,Android;Arduino;Windows Desktop or Server,35 - 44 years old,Male,Yes,2018,0.0000
1262,1770,Yes,Employed full-time,Serbia,No,"Computer science, computer engineering, or sof...",Front-end developer,RSD,JavaScript;PHP;SQL;TypeScript;HTML;CSS;Bash/Shell,Clojure;JavaScript;PHP;SQL;TypeScript;HTML;CSS...,MongoDB;Redis;MySQL;PostgreSQL;SQLite;MariaDB,MongoDB;Redis;MySQL;PostgreSQL;SQLite;MariaDB;...,AWS;ESP8266;Firebase,AWS;ESP8266;IBM Cloud or Watson;Raspberry Pi;S...,25 - 34 years old,Male,No,2018,0.0000
47996,68056,Yes,Employed full-time,Netherlands,No,Fine arts or performing arts (ex. graphic desi...,Back-end developer;Front-end developer;Full-st...,EUR,JavaScript;PHP;SQL;HTML;CSS;Bash/Shell,JavaScript;PHP;SQL;HTML;CSS,MySQL;MariaDB;Memcached,MySQL;MariaDB;Memcached,Drupal;Linux;Mac OS,Drupal;Linux,35 - 44 years old,Male,Yes,2018,0.0000
47997,68057,Yes,Employed full-time,Bulgaria,"Yes, full-time","Computer science, computer engineering, or sof...",Back-end developer;Database administrator;Desk...,EUR,C;C++;PHP;SQL;Delphi/Object Pascal,C#;Delphi/Object Pascal,MySQL;SQLite,MongoDB;MariaDB,Linux;Raspberry Pi;Windows Desktop or Server;W...,Android;Linux;Windows Desktop or Server,25 - 34 years old,Male,No,2018,0.0000
47998,68060,Yes,Employed full-time,Lithuania,No,"Computer science, computer engineering, or sof...",Back-end developer,EUR,C#;Java;Ruby;SQL,C#;F#;Java;Ruby,MongoDB;SQL Server;MySQL,Cassandra;MongoDB;SQL Server;MySQL,Windows Desktop or Server,Android;Azure;Linux;Mac OS;Windows Desktop or ...,25 - 34 years old,Male,Yes,2018,0.0000
29551,29727,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Sri Lanka,No,"Computer science, computer engineering, or sof...","Developer, full-stack",USD,HTML/CSS;Java;PHP;SQL;TypeScript,Java;Python;SQL;TypeScript,Firebase;MongoDB;MySQL;Oracle;PostgreSQL,Elasticsearch;Firebase;MongoDB;PostgreSQL;Redis,AWS;Docker;Linux;Slack;Windows;WordPress,AWS;Docker;Linux;MacOS;Slack;Windows;WordPress,31,Man,No,2019,0.0000
29549,29725,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,Mathematics or statistics,"Developer, full-stack",GBP,C#;SQL,C#;F#;SQL;TypeScript,Microsoft SQL Server,Firebase;Microsoft SQL Server,Windows,Docker;Kubernetes;Windows,24,Man,No,2019,0.0000
48001,68064,No,Employed full-time,United Kingdom,No,"Computer science, computer engineering, or sof...",Back-end developer;Data scientist or machine l...,GBP,C#;Go;JavaScript;Python,Go;JavaScript,SQL Server;MySQL,MySQL,Linux;Mac OS;Windows Desktop or Server,Windows Desktop or Server,25 - 34 years old,Male,No,2018,0.0000
29548,29724,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Uruguay,No,"Computer science, computer engineering, or sof...","Developer, back-end;Developer, desktop or ente...",UYU,Bash/Shell/PowerShell;Java;JavaScript;SQL,Bash/Shell/PowerShell;Java;JavaScript;Kotlin;P...,MongoDB;MySQL;PostgreSQL,Couchbase;Elasticsearch;MariaDB;MongoDB;MySQL;...,Linux;Windows,Docker;Heroku;Kubernetes;Linux;Windows,39,Man,Yes,2019,0.0000
29547,29723,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Computer science, computer engineering, or sof...","Developer, back-end",USD,Bash/Shell/PowerShell;Elixir;Go;HTML/CSS;JavaS...,Dart;Go;Ruby;Rust;SQL;TypeScript;WebAssembly,DynamoDB;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,AWS;Docker;Heroku;MacOS;Raspberry Pi,AWS;Docker;Heroku;MacOS;Raspberry Pi,25,Man,No,2019,0.0000
1261,1768,No,Employed full-time,United States,No,"Computer science, computer engineering, or sof...",Back-end developer;Desktop or enterprise appli...,USD,C#;Java;JavaScript;PHP;SQL;Delphi/Object Pasca...,C#;Java;JavaScript;PHP;Scala;SQL;Swift;HTML;CSS,SQL Server;MySQL;PostgreSQL;SQLite;Oracle;Elas...,MySQL;PostgreSQL;SQLite;Oracle,Linux;Mac OS;Windows Desktop or Server;WordPress,Android;iOS;Linux;Mac OS;Windows Desktop or Se...,25 - 34 years old,Male,No,2018,0.0000
48006,68073,Yes,Employed full-time,Australia,No,Mathematics or statistics,"Back-end developer;C-suite executive (CEO, CTO...",AUD,C#;Groovy;Java;JavaScript;Python;SQL;HTML;CSS;...,C#;Groovy;JavaScript;TypeScript;HTML;CSS,Redis;SQL Server;MySQL,Redis;MySQL,Android;Azure;Windows Desktop or Server;WordPress,AWS;Azure,35 - 44 years old,Male,Yes,2018,0.0000
29544,29720,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Denmark,No,"A natural science (ex. biology, chemistry, phy...",Academic researcher;Data scientist or machine ...,DKK,Elixir;Go;JavaScript;Python;Swift;TypeScript,Elixir;Go;Python,Firebase;PostgreSQL;Redis,PostgreSQL,AWS;Docker;iOS;Linux,Docker;Kubernetes;Linux,34,Man,No,2019,0.0000
48009,68078,Yes,Employed full-time,India,No,"Computer science, computer engineering, or sof...",Back-end developer;Data or business analyst;Da...,INR,Assembly;C;JavaScript;Objective-C;PHP;HTML;CSS,Java;JavaScript;PHP;Python;SQL;TypeScript;HTML...,SQL Server;MySQL;PostgreSQL;SQLite;Microsoft A...,MongoDB;SQL Server;MySQL;PostgreSQL;SQLite;Mar...,AWS;Azure;Linux,AWS;Google Cloud Platform/App Engine;Linux;Mac...,25 - 34 years old,Male,No,2018,0.0000
4986,7150,Yes,Employed full-time,Sweden,"Yes, full-time","Computer science, computer engineering, or sof...",Full-stack developer,SEK,C#;JavaScript;SQL;TypeScript;HTML,C#;JavaScript;TypeScript,SQL Server,MongoDB;SQL Server;Amazon DynamoDB;Amazon RDS/...,Windows Desktop or Server,AWS;Google Cloud Platform/App Engine,25 - 34 years old,Male,Yes,2018,0.0000

In [33]:
#decision, continue with users answering at least 50%
df.groupby(['missing_row_rate']).size()
df_user_elim = df.loc[df['missing_row_rate'] <= 0.5]
df_user_elim = df_user_elim.drop('missing_row_rate', axis=1)
print(df_user_elim.shape)

(166449, 18)

In [35]:
#missing check for columns, decision was to let all columns stay as is because they all have at most 24% missing
missing={}
for x in df_user_elim:
    missing[x] = df_user_elim[x].isna().sum()/len(df_user_elim.index)
sorted(missing.items(), key=lambda x: x[1], reverse=True)

[('DatabaseDesireNextYear', 0.239598916184537),
 ('CurrencySymbol', 0.2302206681926596),
 ('PlatformDesireNextYear', 0.16695804720965582),
 ('DatabaseWorkedWith', 0.14608678934688704),
 ('UndergradMajor', 0.14549201256841435),
 ('Age', 0.13676261197123443),
 ('Dependents', 0.12581631610883814),
 ('PlatformWorkedWith', 0.1198445169391225),
 ('Gender', 0.10086573064422136),
 ('LanguageDesireNextYear', 0.05836021844528955),
 ('DevType', 0.0502976887815487),
 ('Student', 0.016058973018762503),
 ('Employment', 0.013998281755973301),
 ('OpenSource', 0.011384868638441806),
 ('LanguageWorkedWith', 0.008597227979741542),
 ('Respondent', 0.0),
 ('Country', 0.0),
 ('Year', 0.0)]

In [37]:
df_user_elim['Year'].value_counts()

2019    88215
2018    78234
Name: Year, dtype: int64

In [66]:
#psi func https://github.com/mwburke/population-stability-index/blob/master/psi.py

def calculate_psi(expected, actual, buckettype='bins', buckets=10, axis=0):
    '''Calculate the PSI (population stability index) across all variables

    Args:
       expected: numpy matrix of original values
       actual: numpy matrix of new values, same size as expected
       buckettype: type of strategy for creating buckets, bins splits into even splits, quantiles splits into quantile buckets
       buckets: number of quantiles to use in bucketing variables
       axis: axis by which variables are defined, 0 for vertical, 1 for horizontal

    Returns:
       psi_values: ndarray of psi values for each variable

    Author:
       Matthew Burke
       github.com/mwburke
       worksofchart.com
    '''

    def psi(expected_array, actual_array, buckets):
        '''Calculate the PSI for a single variable

        Args:
           expected_array: numpy array of original values
           actual_array: numpy array of new values, same size as expected
           buckets: number of percentile ranges to bucket the values into

        Returns:
           psi_value: calculated PSI value
        '''

        def scale_range (input, min, max):
            input += -(np.min(input))
            input /= np.max(input) / (max - min)
            input += min
            return input


        breakpoints = np.arange(0, buckets + 1) / (buckets) * 100

        if buckettype == 'bins':
            breakpoints = scale_range(breakpoints, np.min(expected_array), np.max(expected_array))
        elif buckettype == 'quantiles':
            breakpoints = np.stack([np.percentile(expected_array, b) for b in breakpoints])



        expected_percents = np.histogram(expected_array, breakpoints)[0] / len(expected_array)
        actual_percents = np.histogram(actual_array, breakpoints)[0] / len(actual_array)

        def sub_psi(e_perc, a_perc):
            '''Calculate the actual PSI value from comparing the values.
               Update the actual value to a very small number if equal to zero
            '''
            if a_perc == 0:
                a_perc = 0.0001
            if e_perc == 0:
                e_perc = 0.0001

            value = (e_perc - a_perc) * np.log(e_perc / a_perc)
            return(value)

        psi_value = np.sum(sub_psi(expected_percents[i], actual_percents[i]) for i in range(0, len(expected_percents)))

        return(psi_value)

    if len(expected.shape) == 1:
        psi_values = np.empty(len(expected.shape))
    else:
        psi_values = np.empty(expected.shape[axis])

    for i in range(0, len(psi_values)):
        if len(psi_values) == 1:
            psi_values = psi(expected, actual, buckets)
        elif axis == 0:
            psi_values[i] = psi(expected[:,i], actual[:,i], buckets)
        elif axis == 1:
            psi_values[i] = psi(expected[i,:], actual[i,:], buckets)

    return(psi_values)

In [71]:
#see the psi value of country to discover if the population answering the surveys has changed, less than 1 means no
bench=df_user_elim[df_user_elim['Year']==2019]['Country'].value_counts()[:30]
comp=df_user_elim[df_user_elim['Year']==2018]['Country'].value_counts()[:30]

psi=calculate_psi(bench,comp)
psi

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:65: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.fromiter(generator)) or the python sum builtin instead.

0.42330496264190737

In [19]:
print(survey_2019['Employment'].value_counts()/len(survey_2019['Country']))
print(survey_2018['Employment'].value_counts()/len(survey_2018['Country']))

Employed full-time                                      0.724998
Independent contractor, freelancer, or self-employed    0.095755
Not employed, but looking for work                      0.063004
Employed part-time                                      0.050280
Not employed, and not looking for work                  0.042787
Retired                                                 0.004028
Name: Employment, dtype: float64
Employed full-time                                      0.713115
Independent contractor, freelancer, or self-employed    0.093895
Not employed, but looking for work                      0.058722
Employed part-time                                      0.054423
Not employed, and not looking for work                  0.041799
Retired                                                 0.002296
Name: Employment, dtype: float64